@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #efefef;
  --color-primary-foreground: #11141a;

  --color-background-dark: #11141a;
  --color-background-light: #394255;
  --color-foreground: #efefef;
} */
